body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    align-items: "center";
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 46px;
}

.recipe-container {
    justify-content: center;
    display: flex;
    gap: 20px;
    
}

.recipe {
    border: 3px solid blue;
    justify-content: center;
    display: block;
}

div > img {
    max-width: 100%;
}

.recipe a:hover {
    text-decoration: underline;
    color: cadetblue;
}

a {
    border: 1px solid red; /*testing*/
    text-decoration: none;
}
